api/**
bin/**
build/**
.buildpath
composer.lock
composer.phar
config/config.json
db/mapper.s3db
dist/**
docs/**
nbproject/**
netbeans/**
.htaccess
.project
.settings/**
tmp/**
vendor/**
*.sublime-project
*.sublime-workspace
sftp-config.json
