<?xml version="1.0"?>
<config>
    <modules>
        <Jtl_Connector>
            <version>1.2.1.0</version>
        </Jtl_Connector>
    </modules>

    <frontend>
        <layout>
            <updates>
                <jtl_connector>
                    <file>jtl_connector.xml</file>
                </jtl_connector>
            </updates>
        </layout>
        <routers>
            <jtl_connector>
                <use>standard</use>
                <args>
                    <module>Jtl_Connector</module>
                    <frontName>jtlconnector</frontName>
                </args>
            </jtl_connector>
        </routers>
    </frontend>

    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_super_config_grid>Jtl_Connector_Adminhtml_Block_Catalog_Product_Edit_Tab_Super_Config_Grid</catalog_product_edit_tab_super_config_grid>
                </rewrite>
            </adminhtml>
            <catalog>
                <rewrite>
                    <product_view_type_configurable>Jtl_Connector_Catalog_Block_Product_View_Type_Configurable</product_view_type_configurable>
                </rewrite>
                <rewrite>
                    <product_price>Jtl_Connector_Catalog_Block_Product_Price</product_price>
                </rewrite>
                <rewrite>
                    <product_view_media>Jtl_Connector_Catalog_Block_Product_View_Media</product_view_media>
                </rewrite>
                <rewrite>
                    <product_view_attributes>Jtl_Connector_Catalog_Block_Product_View_Attributes</product_view_attributes>
                </rewrite>
            </catalog>
            <checkout>
                <rewrite>
                    <cart_item_renderer>Jtl_Connector_Checkout_Block_Cart_Item_Renderer</cart_item_renderer>
                </rewrite>
            </checkout>
            <jtl_connector>
                <class>Jtl_Connector_Block</class>
            </jtl_connector>
            <rss>
                <rewrite>
                    <wishlist>Jtl_Connector_Rss_Block_Wishlist</wishlist>
                </rewrite>
                <rewrite>
                    <catalog_tag>Jtl_Connector_Rss_Block_Catalog_Tag</catalog_tag>
                </rewrite>
                <rewrite>
                    <catalog_special>Jtl_Connector_Rss_Block_Catalog_Special</catalog_special>
                </rewrite>
                <rewrite>
                    <catalog_new>Jtl_Connector_Rss_Block_Catalog_New</catalog_new>
                </rewrite>
                <rewrite>
                    <catalog_category>Jtl_Connector_Rss_Block_Catalog_Category</catalog_category>
                </rewrite>
            </rss>
        </blocks>

        <models>
            <catalogrule_mysql4>
                <rewrite>
                    <rule>Jtl_Connector_CatalogRule_Model_Mysql4_Rule</rule>
                </rewrite>
            </catalogrule_mysql4>
            <catalog>
                <rewrite>
                    <product_type_configurable_price>Jtl_Connector_Catalog_Model_Product_Type_Configurable_Price</product_type_configurable_price>
                </rewrite>
                <rewrite>
                    <product_type_simple>Jtl_Connector_Catalog_Model_Product_Type_Simple</product_type_simple>
                </rewrite>
                <rewrite>
                    <product_type_virtual>Jtl_Connector_Catalog_Model_Product_Type_Virtual</product_type_virtual>
                </rewrite>
                <rewrite>
                    <product_type_configurable>Jtl_Connector_Catalog_Model_Product_Type_Configurable</product_type_configurable>
                </rewrite>
                <rewrite>
                    <product>Jtl_Connector_Catalog_Model_Product</product>
                </rewrite>
            </catalog>
            <catalogindex>
                <rewrite>
                    <data_configurable>Jtl_Connector_CatalogIndex_Model_Data_Configurable</data_configurable>
                </rewrite>
            </catalogindex>
            <cataloginventory_mysql4>
                <rewrite>
                    <indexer_stock_configurable>Jtl_Connector_CatalogInventory_Model_Mysql4_Indexer_Stock_Configurable</indexer_stock_configurable>
                </rewrite>
            </cataloginventory_mysql4>
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <product_collection>Jtl_Connector_Catalog_Model_Resource_Eav_Mysql4_Product_Collection</product_collection>
                </rewrite>
                <rewrite>
                    <product_indexer_price_configurable>Jtl_Connector_Catalog_Model_Resource_Eav_Mysql4_Product_Indexer_Price_Configurable</product_indexer_price_configurable>
                </rewrite>
                <rewrite>
                    <product_indexer_price>Jtl_Connector_Catalog_Model_Resource_Eav_Mysql4_Product_Indexer_Price</product_indexer_price>
                </rewrite>
            </catalog_resource_eav_mysql4>
            <jtl_connector>
                <class>Jtl_Connector_Model</class>
                <resourceModel>jtl_connector_resource</resourceModel>
            </jtl_connector>
            <jtl_connector_resource>
                <class>Jtl_Connector_Model_Resource</class>
                <entities>
                    <image_link>
                        <table>jtl_connector_link_image</table>
                    </image_link>
                    <specific_link>
                        <table>jtl_connector_link_specific</table>
                    </specific_link>
                </entities>
            </jtl_connector_resource>
        </models>

        <helpers>
            <jtl_connector>
                <class>Jtl_Connector_Helper</class>
            </jtl_connector>
        </helpers>

        <resources>
            <jtl_connector_setup>
                <setup>
                    <module>Jtl_Connector</module>
                    <class>Jtl_Connector_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </jtl_connector_setup>
            <jtl_connector_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </jtl_connector_read>
            <jtl_connector_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </jtl_connector_write>
        </resources>

        <fieldsets>
            <sales_convert_quote>
                <jtl_erp_id>
                    <to_order>*</to_order>
                </jtl_erp_id>
            </sales_convert_quote>

            <sales_convert_order>
                <jtl_erp_id>
                    <to_quote>*</to_quote>
                </jtl_erp_id>
            </sales_convert_order>
        </fieldsets>
    </global>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <jtl_connector>
                                            <title>JTL-Connector</title>
                                        </jtl_connector>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>