<?xml version="1.0"?>
<config>
    <tabs>
        <jtl_connector_config translate="label" module="jtl_connector">
            <label>JTL-Software-GmbH</label>
            <sort_order>100</sort_order>
        </jtl_connector_config>
    </tabs>
    <sections>
        <jtl_connector translate="label" module="jtl_connector">
            <label>JTL-Connector</label>
            <tab>jtl_connector_config</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>

            <groups>
                <general translate="label">
                    <label>General settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>

                    <fields>
                        <enabled translate="label comment">
                            <label>Enabled</label>
                            <comment>
                                <![CDATA[Enable JTL-Connector]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>

                        <auth_token translate="label comment">
                            <label>Authorization token</label>
                            <comment>
                                <![CDATA[This token is needed to authenticate JTL-Wawi against Magento. Use it as password when configuring your shop in JTL-Wawi.]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </auth_token>

                        <root_category translate="label comment">
                            <label>Root category</label>
                            <comment>
                                <![CDATA[This is the root category from which JTL-Connector will start syncing. All categories below this category will be transferred. You need to set this to your topmost category.]]>
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_category</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </root_category>
                    </fields>
                </general>
            </groups>
        </jtl_connector>
    </sections>
</config>