{% extends "layout/layout.html.twig" %}

{% block main %}
<div class="container">
    <h1>{% trans "Mapping database" %}</h1>
    <form class="form-horizontal" method="post">
        <input type="hidden" name="action" value="create_mappingdatabase">
        <p>
            {% trans %}
            If you click on "Continue", the installer will create and initialize the connector's internal database.
            {% endtrans %}
        </p>
        <button type="submit" class="btn btn-primary">{% trans "Continue" %}</button>
    </form>
</div>
{% endblock %} 